*   Current Time: 28-04-2025T10:15:00 (Use this for relative references like "today", "tomorrow")
*   Conversation History:
    ```
    {% for msg in history %}
    {{ msg.role }}: {{ msg.content }}
    {% endfor %}
    ```
{# Опционально: Явно показываем результаты календаря, если они есть #}
{% if calendar_search_results %}
*   Calendar Search Results from previous step:
    ```
    {{ calendar_search_results }}
    ```
{% endif %}
*   Current User Request: `{{ user_input }}`
